@import url(//db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=Sofia+Pro);
@font-face {font-family: "Sofia Pro"; src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot"); src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff") format("woff"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.svg#Sofia Pro") format("svg"); }
@font-face {
    font-family: Helvetica;
    src: url("../src/assets/HelveticaNeue-Light.otf") format("opentype");
}

body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Sofia Pro';
    background-color: #e9ebee;
}

.venue-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap:0%;
    column-gap: 2px;
    background-color: white;
    padding-bottom:4%;
    border-radius: 5px;
    align-items: center;
    padding:4%;
}

.venue-list img {
    height:40%;
    width:80%;
    aspect-ratio: 1;
}


.venue-item p {
    color:#68912b;
    margin-top:0;
}

/* Nav */

nav {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3%;
}

nav h1 {
    color:#68912b;
    font-size:x-large;
    transform: translateX(10%);
}

.nav-left {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(10%);
}

nav a {
    transform: translateX(-50%);
    text-decoration: none;
}

.react-icons {
    color:black;
}



/* Foooter */

footer {
    background-color: white;
    color:#68912b;
    text-align: center;
    margin-top:5%;
}

/* Venue page */

.venue-main {
    display: flex;
    flex-direction:column;
}

.venue-item {
    display:flex;
    flex-direction: column;
    color:#68912b;
}

.venue-page-item img {
    width:40%;
    height:15%;
}

.venue-page-item h1 {
    margin-bottom:10px;
    color:#68912b;
}

.review-form-container {
    margin-top: 0px;
}

.review-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
}

.review-form-container form input{
    margin:1%;
    font-family: 'Sofia Pro';
}

.review-form-container form button{
    margin:1%;
    width:20%;
    font-family: 'Sofia Pro';
    background-color: #314c88;
    color:white;
    cursor: pointer;
    border:none;
    border-radius: 5px;
}

.add-review-container h2 {
    color:#68912b;
    margin-top: 5%;
    margin-bottom:0;
}

/* Reviews */

.reviews-container h2 {
    color:#68912b;
}

.review {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding:1%;
    margin:10px;
    width:40%;
    transform: translateX(-2%);
}

.review p {
    font-family: Helvetica;
    margin:0;
    padding:0;
}

.review h3 {
    margin:0;
    padding:0;
}

.review-buttons button {
    font-family: 'Sofia Pro';
    background-color: #314c88;
    color:white;
    cursor: pointer;
    border:none;
    border-radius: 5px; 
    margin-right:2px; 
    margin-top:2%;  
}

.star-container {
    display:flex;
    flex-direction: row;
    justify-content: left;
    color:#68912b;
}

.star-container p {
    padding-right:5%;
}

.star {
    cursor: pointer;
    border-radius:5px;
}

.star:hover {
    background-color:#314c88;
    color:white;
}

.star-rating {
    display:flex;
    flex-direction: row;
}