@import url(//db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=Sofia+Pro);
@font-face {font-family: "Sofia Pro"; src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot"); src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff") format("woff"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.svg#Sofia Pro") format("svg"); }


body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Sofia Pro';
    background-color: #e9ebee;
}

.venue-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap:0%;
    column-gap: 2px;
    background-color: white;
    padding-bottom:4%;
    border-radius: 5px;
    align-items: center;
    padding:4%;
}

.venue-list img {
    height:40%;
    width:80%;
    aspect-ratio: 1;
}


.venue-item p {
    color:#68912b;
    margin-top:0;
}

/* Nav */

nav {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3%;
}

nav h1 {
    color:#68912b;
    font-size:x-large;
    transform: translateX(10%);
}

.nav-left {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(10%);
}

nav a {
    transform: translateX(-50%);
    text-decoration: none;
}

.react-icons {
    color:black;
}

/* Reviews */

.review {
    border: 1px solid black;
}